body {
    font-family: Arial, sans-serif;
    background: url('background.webp') no-repeat center center fixed; 
    background-size: cover;
    position: relative;
    height: 100vh;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Black overlay with low opacity */
    z-index: 0;
}

.container {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: rgba(249, 249, 249, 0.9);
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

li button {
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

li button.edit {
    background-color: #007bff;
}

li button.edit:hover {
    background-color: #0056b3;
}

li button.delete {
    background-color: #dc3545;
}

li button.delete:hover {
    background-color: #c82333;
}
